@media (min-width:1800px) {
    header .head-flex .nav{
        display: block;
        flex: 1;
    }
    header .head-flex .nav{
        display: block;
        flex: 1;
    }
    header .head-flex .theme{
        flex: 0.8;
    }

 
}