@media (min-width:1400px) {
    header .container{
        margin: 0px 180px;
    }
    header .head-flex .theme .request{
        display: block;
    }
    header .head-flex .nav{
        display: block;
        flex: 1;
    }
    header .head-flex .theme{
        flex: 0.8;
    }


    /*===================================== Home-page ====================================*/
    .home-page .slide-coursel {
        padding: 200px 180px 50px;
    }
}